In [1]:
import pandas as pd

In [2]:
column_values = [f"Column{i}" for i in range(1,5)]
index_values = [chr(i) for i in range(65,72)]

df = pd.DataFrame([[f"{ind}{col}" for col in range(1,5)] for ind in index_values], 
    index=index_values, columns=column_values)
df

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

# Update cells using loc or iloc  

One or multiple cells can be set to a new value using loc or iloc
- **df.iloc[:] = 0** Sets all cells to 0
- **df.iloc[0,0] = 0** Sets cell (0,0) to 0

In [19]:
copy = df.copy()
copy.iloc[1,2] = "XX"
copy.iloc[0, :] = "YY"
copy.loc[["C", "E", "G"], ["Column2", "Column4"]] = "ZZ"
copy.iloc[0, 1] = copy.iloc[0,2] + copy.iloc[1,3]
copy

  Column1 Column2 Column3 Column4
A      YY    YYB4      YY      YY
B      B1      B2      XX      B4
C      C1      ZZ      C3      ZZ
D      D1      D2      D3      D4
E      E1      ZZ      E3      ZZ
F      F1      F2      F3      F4
G      G1      ZZ      G3      ZZ

## Adding row columns

Rows and columns can be added with loc (but not iloc)

In [31]:
copy = df.copy()
copy.loc["H", :] = ["H" + str(i) for i in range(1, len(copy.columns)+1)]

copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4
H      H1      H2      H3      H4